.grid-container{
	display: grid;
	grid-template-columns: 35% auto;
	grid-gap: 10px;
	padding: 10px;
}

.control-container{
	display: grid;
	grid-template-columns: auto 30%;
}

.joystick{
	display: grid;
	grid-template-columns: auto auto auto 30%;
}
.forward{
	grid-column-start: 2;
	grid-column-end: 3;	
}

.left{
	grid-column-start: 1;
	grid-column-end: 2;	
}

.right{
	grid-column-start: 3;
	grid-column-end: 4;	
}
.backward{
	grid-column-start: 2;
	grid-column-end: 3;	
}



#mySpeed{
	-webkit-appearance: slider-vertical;

}

button{
	width: 100%;
	height: 100%;
}
