/* Coolors Exported Palette - coolors.co/0f8958-8cb369-e7352b-cffcff-fcf7f8 */

/* HSL */
$color1: hsla(156%, 80%, 30%, 1);
$color2: hsla(92%, 33%, 56%, 1);
$color3: hsla(3%, 80%, 54%, 1);
$color4: hsla(184%, 100%, 91%, 1);
$color5: hsla(348%, 45%, 98%, 1);

/* RGB */
$color1: rgba(15, 137, 88, 1);
$color2: rgba(140, 179, 105, 1);
$color3: rgba(231, 53, 43, 1);
$color4: rgba(207, 252, 255, 1);
$color5: rgba(252, 247, 248, 1);